src/checkout-sm/checkout-SM-basic.asl.json
{
    "Comment": "checkout-sm-basic: kick off two get-info-statemachine branches",
    "StartAt": "FetchInfo",
    "States": {
        "FetchInfo": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "KyriosUserInfo",
                    "States": {
                        "KyriosUserInfo": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/eks/app/kyrios-b/v1/users/",
                                    "urlSuffix.$": "$.userId",
                                    "headers": {
                                        "account.$": "$.userId"
                                    },
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "GET"
                                }
                            },
                            "ResultPath": "$.UserInfo",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "GetCartInfo",
                    "States": {
                        "GetCartInfo": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/eks/app/cart-b/api/v1/cart",
                                    "urlSuffix": "",
                                    "headers": {
                                        "account.$": "$.userId"
                                    },
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "GET"
                                }
                            },
                            "ResultPath": "$.CartInfo",
                            "End": true
                        }
                    }
                }
            ],
            "Parameters": {
                "connectionArn.$": "$.connectionArn",
                "userId.$": "$.userId"
            },
            "ResultPath": "$.UserCartInfo",
            "Next": "ExtractCartId"
        },
        "ExtractCartId": {
            "Type": "Pass",
            "Parameters": {
                "cartId.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.id"
            },
            "ResultPath": "$.ExtractedCartId",
            "Next": "UpdatePaymentInst"
        },
        "UpdatePaymentInst": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/eks/app/cart-b/api/v1/cart/payment-instruction",
                    "urlSuffix": "",
                    "operation": "PUT",
                    "connectionArn.$": "$.connectionArn",
                    "headers": {
                        "Content-Type": "application/json",
                        "account.$": "$.userId"
                    },
                    "RequestBody": {
                        "id": "new-payment-instruction-12345678",
                        "walletId": "0d1d26fb-b9bd-4fc9-b5bd-d5ba13a3471e",
                        "paymentMethodId": "5b9ce7e6-6756-44c2-83b5-16ae94411602",
                        "paymentMethodType": "CREDITCARD",
                        "amount": "94.10",
                        "additionalData": {
                            "cardFlag": "VISA",
                            "cardLast4": "4242",
                            "expiryMonth": "12",
                            "expiryYear": "2026",
                            "billingAddress": {
                                "addressLine1.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0].street1",
                                "city.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0].city",
                                "state.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0].state",
                                "postcode.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0].postcode",
                                "country.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0].country"
                            }
                        }
                    }
                }
            },
            "ResultPath": "$.UpdatedPaymentInfo",
            "Next": "CreateOrderConfirmId"
        },
        "CreateOrderConfirmId": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint": "https://order-api-us-east-1.opta.dev.aws.chewy.cloud/graphql",
                "Method": "POST",
                "InvocationConfig": {
                    "ConnectionArn.$": "$.orderIdConnectionArn"
                },
                "Headers": {
                    "Content-Type": "application/json"
                },
                "RequestBody": "{\"query\":\"query { newOrderExternalId { value } }\"}"
            },
            "ResultPath": "$.orderConfirmationId",
            "Next": "DataExtractionTransformation"
        },
        "DataExtractionTransformation": {
            "Type": "Parallel",
            "ResultPath": "$.DataExtractionResult",
            "Next": "Parallel",
            "Branches": [
                {
                    "StartAt": "ExtractOrderConfirmationNumber",
                    "States": {
                        "ExtractOrderConfirmationNumber": {
                            "Type": "Pass",
                            "Parameters": {
                                "orderConfirmationNum.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.orderConfirmationId"
                            },
                            "ResultPath": "$.OrderConfirmationNum",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "TransformCartItems",
                    "States": {
                        "TransformCartItems": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:243249644484:function:transform-cart-items",
                            "ResultPath": "$.TransformedCartItems",
                            "End": true
                        }
                    }
                }
            ]
        },
        "Parallel": {
            "Type": "Parallel",
            "Next": "InventoryFraud",
            "ResultPath": "$.AdjustmentsTaxResult",
            "Branches": [
                {
                    "StartAt": "Adjustments",
                    "States": {
                        "Adjustments": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/eks/ns/promotions/adjustments-svc/v1/adjustments",
                                    "urlSuffix": "/apply",
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "POST",
                                    "headers": {
                                        "accountId.$": "$.userId"
                                    },
                                    "RequestBody": {
                                        "cart_id.$": "$.ExtractedCartId.cartId",
                                        "cart_type.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.cartType",
                                        "account_type.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.registerType",
                                        "org_id": null,
                                        "pet_id": null,
                                        "enable_display_adjustments": true,
                                        "id": -1,
                                        "is_autoship": false,
                                        "payment_types": {},
                                        "order_items": [
                                            {
                                                "id.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].id",
                                                "cat_entry_id": null,
                                                "part_number.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].partNumber",
                                                "personalization_attributes": {},
                                                "quantity.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].quantity",
                                                "unit_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].unitPrice",
                                                "shipping_price": 0,
                                                "total_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].totalPrice",
                                                "is_adjustment_editable": null,
                                                "components": [],
                                                "auto_add": false,
                                                "autoship.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[0].recurring",
                                                "line_number": "1",
                                                "plan_id": null,
                                                "plan_item_id": null,
                                                "plan_type": null
                                            },
                                            {
                                                "id.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].id",
                                                "cat_entry_id": null,
                                                "part_number.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].partNumber",
                                                "personalization_attributes": {},
                                                "quantity.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].quantity",
                                                "unit_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].unitPrice",
                                                "shipping_price": 0,
                                                "total_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].totalPrice",
                                                "is_adjustment_editable": null,
                                                "components": [],
                                                "auto_add": false,
                                                "autoship.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[1].recurring",
                                                "line_number": "2",
                                                "plan_id": null,
                                                "plan_item_id": null,
                                                "plan_type": null
                                            },
                                            {
                                                "id.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].id",
                                                "cat_entry_id": null,
                                                "part_number.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].partNumber",
                                                "personalization_attributes": {},
                                                "quantity.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].quantity",
                                                "unit_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].unitPrice",
                                                "shipping_price": 0,
                                                "total_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].totalPrice",
                                                "is_adjustment_editable": null,
                                                "components": [],
                                                "auto_add": false,
                                                "autoship.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items[2].recurring",
                                                "line_number": "3",
                                                "plan_id": null,
                                                "plan_item_id": null,
                                                "plan_type": null
                                            }
                                        ],
                                        "total_product.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.itemTotal",
                                        "total_shipping.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.shippingTotal",
                                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
                                        "codes": [],
                                        "order_placement_date_time": null,
                                        "use_rewards": false,
                                        "autoship_id": null,
                                        "loyalty_signup": {
                                            "present": true
                                        },
                                        "loyalty_signup_payment_details": null,
                                        "intent": "init-checkout"
                                    }
                                }
                            },
                            "ResultPath": "$.AdjustmentsResult",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Plutus",
                    "States": {
                        "Plutus": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/api/tax-svc",
                                    "urlSuffix": "/tax/quote",
                                    "connectionArn.$": "$.connectionArn",
                                    "headers": {
                                        "x-request-id.$": "$.UpdatedPaymentInfo.Output.Headers.x-request-id[0]",
                                        "x-api-key": "MDQ4NmIwNjA3MTMxM2M3NDI2MzdiNzA4NzFlMzFkMGM5ZDYwMDliNWQ1Mzc2NzgwMzA1YWI1YWUxMGFkMTY4Zgo="
                                    },
                                    "operation": "POST",
                                    "RequestBody": {
                                        "requestId": "5000000667",
                                        "storeId": null,
                                        "origin": "CHECKOUT",
                                        "currency": "USD",
                                        "addressOverride": null,
                                        "orderItems": [
                                            {
                                                "id": "15f7fe1a-073f-4d7b-9da2-ad21ce49f7db",
                                                "quantity": 1,
                                                "partNumber": "285345",
                                                "totalProduct": 31.58,
                                                "shipCharge": 0,
                                                "shippingAdjustmentTotal": 0,
                                                "skuId": "311714",
                                                "discountAdjustmentTotal": 0,
                                                "totalChewyFundedAdjustment": null,
                                                "totalVendorFundedAdjustment": null,
                                                "catalogIdentifier": "m-chicken-feed-feed",
                                                "memberId": "256676018",
                                                "memberType": "U",
                                                "ffmCenterName": null,
                                                "address": {
                                                    "id": "217789166",
                                                    "city": "BROOKLINE",
                                                    "state": "MA",
                                                    "street1": "*** M**** T**",
                                                    "postcode": "**********",
                                                    "country": "US",
                                                    "latitude": null,
                                                    "longitude": null
                                                },
                                                "rxRequired": false,
                                                "wholesalePharmacyItem": false,
                                                "starkAppointmentItem": false
                                            },
                                            {
                                                "id": "17525a2f-9ca5-4091-82a1-129216d23713",
                                                "quantity": 1,
                                                "partNumber": "143501",
                                                "totalProduct": 29.99,
                                                "shipCharge": 0,
                                                "shippingAdjustmentTotal": 0,
                                                "skuId": "170375",
                                                "discountAdjustmentTotal": 0,
                                                "totalChewyFundedAdjustment": null,
                                                "totalVendorFundedAdjustment": null,
                                                "catalogIdentifier": "m-chicken-feed-feed",
                                                "memberId": "256676018",
                                                "memberType": "U",
                                                "ffmCenterName": null,
                                                "address": {
                                                    "id": "217789166",
                                                    "city": "BROOKLINE",
                                                    "state": "MA",
                                                    "street1": "*** M**** T**",
                                                    "postcode": "**********",
                                                    "country": "US",
                                                    "latitude": null,
                                                    "longitude": null
                                                },
                                                "rxRequired": false,
                                                "wholesalePharmacyItem": false,
                                                "starkAppointmentItem": false
                                            },
                                            {
                                                "id": "30172cc6-e122-4774-af5b-dff5ea3dc43c",
                                                "quantity": 1,
                                                "partNumber": "235297",
                                                "totalProduct": 26.99,
                                                "shipCharge": 0,
                                                "shippingAdjustmentTotal": 0,
                                                "skuId": "261792",
                                                "discountAdjustmentTotal": 0,
                                                "totalChewyFundedAdjustment": null,
                                                "totalVendorFundedAdjustment": null,
                                                "catalogIdentifier": "m-chicken-feed-feed",
                                                "memberId": "256676018",
                                                "memberType": "U",
                                                "ffmCenterName": null,
                                                "address": {
                                                    "id": "217789166",
                                                    "city": "BROOKLINE",
                                                    "state": "MA",
                                                    "street1": "*** M**** T**",
                                                    "postcode": "**********",
                                                    "country": "US",
                                                    "latitude": null,
                                                    "longitude": null
                                                },
                                                "rxRequired": false,
                                                "wholesalePharmacyItem": false,
                                                "starkAppointmentItem": false
                                            }
                                        ],
                                        "cartType": "ACTIVE",
                                        "orgId": null
                                    }
                                }
                            },
                            "ResultPath": "$.PlutusResult",
                            "End": true
                        }
                    }
                }
            ]
        },
        "InventoryFraud": {
            "Type": "Parallel",
            "ResultPath": "$.InventoryFraudResult",
            "Branches": [
                {
                    "StartAt": "InventoryAlloc",
                    "States": {
                        "InventoryAlloc": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://inventory-svc.use1.scff.dev.aws.chewy.cloud/v1",
                                    "urlSuffix": "/inventory/allocations",
                                    "connectionArn.$": "$.inventoryAllocConnectionArn",
                                    "operation": "POST",
                                    "RequestBody": {
                                        "data": {
                                            "type": "allocationV2",
                                            "attributes": {
                                                "externalId.$": "States.Format('CustomerOrder.{}', $.DataExtractionResult[0].OrderConfirmationNum.orderConfirmationNum)",
                                                "partNumbers.$": "$.DataExtractionResult[1].TransformedCartItems.partNumbers"
                                            }
                                        }
                                    },
                                    "headers": {}
                                }
                            },
                            "ResultPath": "$.InventoryAllocationResult",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "FraudCheck",
                    "States": {
                        "FraudCheck": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "connectionArn.$": "$.preauthFraudConnectionArn",
                                    "url": "https://preauth-v2.use1.corp.dev.aws.chewy.cloud",
                                    "urlSuffix": "/PreAuthScreen",
                                    "operation": "POST",
                                    "RequestBody": {
                                        "browser_ip": "203.0.113.42",
                                        "client_details": {
                                            "accept_language": "en-US",
                                            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
                                        },
                                        "created_at.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.createdTime",
                                        "closed_at.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.modifiedTime",
                                        "cart_token.$": "$.ExtractedCartId.cartId",
                                        "customer": {
                                            "customer_id.$": "$.userId"
                                        },
                                        "currency.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.currencyCode",
                                        "total_price.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.total",
                                        "line_items.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.items",
                                        "shipping_address.$": "$.UserCartInfo[0].UserInfo.Output.ResponseBody.addresses[0]",
                                        "payment_details.$": "$.UpdatedPaymentInfo.Output.ResponseBody",
                                        "order_type": "ONLINE",
                                        "submitter": "CUSTOMER",
                                        "partNumbers.$": "$.DataExtractionResult[1].TransformedCartItems.partNumbers"
                                    },
                                    "headers": {}
                                }
                            },
                            "ResultSelector": {
                                "action.$": "$.Output.ResponseBody.action"
                            },
                            "ResultPath": "$.ScreenCheckResult",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "PaymentsBApprove"
        },
        "PaymentsBApprove": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "TimeoutSeconds": 60,
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://payments-b-use1.opta.dev.aws.chewy.cloud/api/v1",
                    "urlSuffix": "/payment/approve",
                    "operation": "POST",
                    "connectionArn.$": "$.paymentsBLegacyConnectionArn",
                    "headers": {
                        "x-request-id.$": "$.UpdatedPaymentInfo.Output.Headers.x-request-id[0]"
                    },
                    "RequestBody": {
                        "order-id.$": "$.DataExtractionResult[0].OrderConfirmationNum.orderConfirmationNum",
                        "order-type": "ONLINE",
                        "payment-event-id.$": "$.UpdatedPaymentInfo.Output.ResponseBody[0].id",
                        "request-timestamp.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.modifiedTime",
                        "currency.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.currencyCode",
                        "requested-amount.$": "$.UserCartInfo[1].CartInfo.Output.ResponseBody.total"
                    }
                }
            },
            "ResultPath": "$.PaymentsBApproveResult",
            "End": true
        }
    },
    "QueryLanguage": "JSONPath"
}