src/checkout-sm/checkout-SM-basic.asl.json
{
    "Comment": "checkout-sm-basic: kick off two get-info-statemachine branches",
    "StartAt": "FetchInfo",
    "States": {
        "FetchInfo": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "KyriosUserInfo",
                    "States": {
                        "KyriosUserInfo": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                                    "urlSuffix.$": "States.Format('/eks/app/kyrios-b/v1/users/{}', $.userId)",
                                    "headers": {
                                        "account.$": "$.userId"
                                    },
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "GET"
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.UserInfo",
                            "Next": "FilterUserInfo"
                        },
                        "FilterUserInfo": {
                            "Type": "Pass",
                            "Parameters": {
                                "UserInfo.$": "$.UserInfo"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "GetCartInfo",
                    "States": {
                        "GetCartInfo": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                                    "urlSuffix": "/eks/app/cart-b/api/v1/cart",
                                    "headers": {
                                        "account.$": "$.userId"
                                    },
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "GET"
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.CartInfo",
                            "Next": "FilterCartInfo"
                        },
                        "FilterCartInfo": {
                            "Type": "Pass",
                            "Parameters": {
                                "CartInfo.$": "$.CartInfo"
                            },
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.UserCartInfo",
            "Next": "UpdatePaymentInst"
        },
        "UpdatePaymentInst": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                    "urlSuffix": "/eks/app/cart-b/api/v1/cart/payment-instruction",
                    "operation": "PUT",
                    "connectionArn.$": "$.connectionArn",
                    "headers": {
                        "Content-Type": "application/json",
                        "account.$": "$.userId"
                    },
                    "RequestBody": {
                        "id": "new-payment-instruction-12345678",
                        "walletId": "0d1d26fb-b9bd-4fc9-b5bd-d5ba13a3471e",
                        "paymentMethodId": "5b9ce7e6-6756-44c2-83b5-16ae94411602",
                        "paymentMethodType": "CREDITCARD",
                        "amount": "18.75",
                        "additionalData": {
                            "cardFlag": "VISA",
                            "cardLast4": "4242",
                            "expiryMonth": "12",
                            "expiryYear": "2026",
                            "billingAddress": {
                                "addressLine1.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0].street1",
                                "city.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0].city",
                                "state.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0].state",
                                "postcode.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0].postcode",
                                "country.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0].country"
                            }
                        }
                    }
                }
            },
            "ResultSelector": {
                "ResponseBody.$": "$.Output.ResponseBody",
                "ExtractedXrequestedId.$": "$.Output.Headers.x-request-id[0]"
            },
            "ResultPath": "$.UpdatedPaymentInfo",
            "Next": "DataExtractionTransformation"
        },
        "DataExtractionTransformation": {
            "Type": "Parallel",
            "ResultSelector": {
                "OrderConfirmationNum.$": "$[0].OrderConfirmationNum.orderConfirmationNum",
                "TransformedCartItems.$": "$[1].TransformedCartItems.ResponseBody"
            },
            "ResultPath": "$.DataExtractionResult",
            "Next": "Parallel",
            "Branches": [
                {
                    "StartAt": "ExtractOrderConfirmationNumber",
                    "States": {
                        "ExtractOrderConfirmationNumber": {
                            "Type": "Pass",
                            "Parameters": {
                                "orderConfirmationNum.$": "$.UserCartInfo[1].CartInfo.ResponseBody.orderConfirmationId"
                            },
                            "ResultPath": "$.OrderConfirmationNum",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "TransformCartItems",
                    "States": {
                        "TransformCartItems": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:us-east-1:243249644484:function:transform-cart-items",
                            "ResultSelector": {
                                "ResponseBody.$": "$"
                            },
                            "ResultPath": "$.TransformedCartItems",
                            "End": true
                        }
                    }
                }
            ]
        },
        "Parallel": {
            "Type": "Parallel",
            "ResultSelector": {
                "AdjustmentsResult.$": "$[0].AdjustmentsResult.ResponseBody",
                "PlutusResult.$": "$[1].PlutusResult.ResponseBody"
            },
            "Next": "InventoryFraud",
            "ResultPath": "$.AdjustmentsTaxResult",
            "Branches": [
                {
                    "StartAt": "Adjustments",
                    "States": {
                        "Adjustments": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                                    "urlSuffix": "/eks/ns/promotions/adjustments-svc/v1/adjustments/apply",
                                    "connectionArn.$": "$.connectionArn",
                                    "operation": "POST",
                                    "headers": {
                                        "accountId.$": "$.userId"
                                    },
                                    "RequestBody": {
                                        "cart_id.$": "$.UserCartInfo[1].CartInfo.ResponseBody.id",
                                        "cart_type.$": "$.UserCartInfo[1].CartInfo.ResponseBody.cartType",
                                        "account_type.$": "$.UserCartInfo[0].UserInfo.ResponseBody.registerType",
                                        "org_id": null,
                                        "pet_id": null,
                                        "enable_display_adjustments": true,
                                        "id": -1,
                                        "is_autoship": false,
                                        "payment_types": {},
                                        "order_items": [
                                            {
                                                "id.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].id",
                                                "cat_entry_id": null,
                                                "part_number.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].partNumber",
                                                "personalization_attributes": {},
                                                "quantity.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].quantity",
                                                "unit_price.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].unitPrice",
                                                "shipping_price": 0,
                                                "total_price.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].totalPrice",
                                                "is_adjustment_editable": null,
                                                "components": [],
                                                "auto_add": false,
                                                "autoship.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items[0].recurring",
                                                "line_number": "1",
                                                "plan_id": null,
                                                "plan_item_id": null,
                                                "plan_type": null
                                            }
                                        ],
                                        "total_product.$": "$.UserCartInfo[1].CartInfo.ResponseBody.itemTotal",
                                        "total_shipping.$": "$.UserCartInfo[1].CartInfo.ResponseBody.shippingTotal",
                                        "user_agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
                                        "codes": [],
                                        "order_placement_date_time": null,
                                        "use_rewards": false,
                                        "autoship_id": null,
                                        "loyalty_signup": {
                                            "present": true
                                        },
                                        "loyalty_signup_payment_details": null,
                                        "intent": "init-checkout"
                                    }
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.AdjustmentsResult",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Plutus",
                    "States": {
                        "Plutus": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                                    "urlSuffix": "/api/tax-svc/tax/quote",
                                    "connectionArn.$": "$.connectionArn",
                                    "headers": {
                                        "x-request-id.$": "$.UpdatedPaymentInfo.ExtractedXrequestedId",
                                        "x-api-key": "MDQ4NmIwNjA3MTMxM2M3NDI2MzdiNzA4NzFlMzFkMGM5ZDYwMDliNWQ1Mzc2NzgwMzA1YWI1YWUxMGFkMTY4Zgo="
                                    },
                                    "operation": "POST",
                                    "RequestBody": {
                                        "requestId": "$[0].OrderConfirmationNum.orderConfirmationNum",
                                        "storeId": null,
                                        "origin": "CHECKOUT",
                                        "currency": "USD",
                                        "addressOverride": null,
                                        "orderItems": [
                                            {
                                                "id": "15f7fe1a-073f-4d7b-9da2-ad21ce49f7db",
                                                "quantity": 1,
                                                "partNumber": "285345",
                                                "totalProduct": 31.58,
                                                "shipCharge": 0,
                                                "shippingAdjustmentTotal": 0,
                                                "skuId": "311714",
                                                "discountAdjustmentTotal": 0,
                                                "totalChewyFundedAdjustment": null,
                                                "totalVendorFundedAdjustment": null,
                                                "catalogIdentifier": "m-chicken-feed-feed",
                                                "memberId": "$.userId",
                                                "memberType": "U",
                                                "ffmCenterName": null,
                                                "address": {
                                                    "id": "217789166",
                                                    "city": "BROOKLINE",
                                                    "state": "MA",
                                                    "street1": "*** M**** T**",
                                                    "postcode": "**********",
                                                    "country": "US",
                                                    "latitude": null,
                                                    "longitude": null
                                                },
                                                "rxRequired": false,
                                                "wholesalePharmacyItem": false,
                                                "starkAppointmentItem": false
                                            }
                                        ],
                                        "cartType": "ACTIVE",
                                        "orgId": null
                                    }
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.PlutusResult",
                            "End": true
                        }
                    }
                }
            ]
        },
        "InventoryFraud": {
            "Type": "Parallel",
            "ResultSelector": {
                "InventoryAllocationResult.$": "$[0].InventoryAllocationResult.ResponseBody",
                "ScreenCheckResult.$": "$[1].ScreenCheckResult.ResponseBody"
            },
            "ResultPath": "$.InventoryFraudResult",
            "Branches": [
                {
                    "StartAt": "InventoryAlloc",
                    "States": {
                        "InventoryAlloc": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url": "https://inventory-svc.use1.scff.dev.aws.chewy.cloud",
                                    "urlSuffix": "/v1/inventory/allocations",
                                    "connectionArn.$": "$.inventoryAllocConnectionArn",
                                    "operation": "POST",
                                    "RequestBody": {
                                        "data": {
                                            "type": "allocationV2",
                                            "attributes": {
                                                "externalId.$": "States.Format('CustomerOrder.{}', $.DataExtractionResult.OrderConfirmationNum)",
                                                "partNumbers.$": "$.DataExtractionResult.TransformedCartItems.partNumbers"
                                            }
                                        }
                                    },
                                    "headers": {}
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.InventoryAllocationResult",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "FraudCheck",
                    "States": {
                        "FraudCheck": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "connectionArn.$": "$.preauthFraudConnectionArn",
                                    "url": "https://preauth-v2.use1.corp.dev.aws.chewy.cloud",
                                    "urlSuffix": "/PreAuthScreen",
                                    "operation": "POST",
                                    "RequestBody": {
                                        "browser_ip": "203.0.113.42",
                                        "client_details": {
                                            "accept_language": "en-US",
                                            "user_agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
                                        },
                                        "created_at.$": "$.UserCartInfo[1].CartInfo.ResponseBody.createdTime",
                                        "closed_at.$": "$.UserCartInfo[1].CartInfo.ResponseBody.modifiedTime",
                                        "cart_token.$": "$.UserCartInfo[1].CartInfo.ResponseBody.id",
                                        "customer": {
                                            "customer_id.$": "$.userId"
                                        },
                                        "currency.$": "$.UserCartInfo[1].CartInfo.ResponseBody.currencyCode",
                                        "total_price.$": "$.UserCartInfo[1].CartInfo.ResponseBody.total",
                                        "line_items.$": "$.UserCartInfo[1].CartInfo.ResponseBody.items",
                                        "shipping_address.$": "$.UserCartInfo[0].UserInfo.ResponseBody.addresses[0]",
                                        "payment_details.$": "$.UpdatedPaymentInfo.ResponseBody",
                                        "order_type": "ONLINE",
                                        "submitter": "CUSTOMER",
                                        "partNumbers.$": "$.DataExtractionResult.TransformedCartItems.partNumbers"
                                    },
                                    "headers": {}
                                }
                            },
                            "ResultSelector": {
                                "ResponseBody.$": "$.Output.ResponseBody"
                            },
                            "ResultPath": "$.ScreenCheckResult",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "PaymentsBApprove"
        },
        "PaymentsBApprove": {
            "TimeoutSeconds": 60,
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://payments-b-use1-eks-hydration.opta.dev.aws.chewy.cloud",
                    "urlSuffix": "/api/v1/payment/approve",
                    "operation": "POST",
                    "connectionArn.$": "$.paymentsBConnectionArn",
                    "headers": {
                        "x-request-id.$": "$.UpdatedPaymentInfo.ExtractedXrequestedId"
                    },
                    "RequestBody": {
                        "customer-id": "256676018",
                        "order-id.$": "$.UserCartInfo[1].CartInfo.ResponseBody.orderConfirmationId",
                        "order-type": "REGULAR",
                        "payment-event-id": "Checkout-95a11df1-49e0-4032-b909-33c5a27d33e0",
                        "business-unit": null,
                        "request-timestamp": "2025-07-16T13:12:31.780913",
                        "merchant-category": "PETGOODS",
                        "use-case": "INITIAL_AUTH",
                        "currency": "USD",
                        "requested-amount": "18.75",
                        "subscription-id": null,
                        "subscriptions": [],
                        "payment-instructions": [
                            {
                                "payment-reference-id": null,
                                "payment-method": {
                                    "payment-method-id": "5b9ce7e6-6756-44c2-83b5-16ae94411602",
                                    "wallet-id": "0d1d26fb-b9bd-4fc9-b5bd-d5ba13a3471e",
                                    "payment-method-type": "CREDITCARD"
                                },
                                "amount": "18.75"
                            }
                        ],
                        "shipping-address": {
                            "full-name": "**** S* ",
                            "street1": "*** M**** T**",
                            "street2": "n****",
                            "street3": "n****",
                            "city": "BROOKLINE",
                            "state": "MA",
                            "country": "US",
                            "postal-code": "**********"
                        }
                    }
                }
            },
            "ResultSelector": {
                "ResponseBody.$": "$.Output.ResponseBody"
            },
            "ResultPath": "$.PaymentsBApproveResult",
            "Next": "CreateOrder"
        },
        "CreateOrder": {
            "Type": "Task",
            "TimeoutSeconds": 60,
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://order-api-us-east-1.opta.dev.aws.chewy.cloud",
                    "urlSuffix": "/api/v1/orders",
                    "operation": "POST",
                    "connectionArn.$": "$.orderServiceConnectionArn",
                    "headers": {
                        "x-request-id.$": "$.UpdatedPaymentInfo.ExtractedXrequestedId"
                    },
                    "RequestBody": {
                        "adjustments": [],
                        "attributes": {
                            "BUSINESS_CHANNEL": "DWEB",
                            "CART_TYPE": "ACTIVE",
                            "USE_REWARDS": "false",
                            "WEB_APP_VERSION": "1619-checkout-spa-main"
                        },
                        "attributionId": null,
                        "attributionType": null,
                        "businessChannel": "WEB",
                        "currency": "USD",
                        "donationOrgId": null,
                        "email1": "**********@c****.com",
                        "expectedFulfillmentDate": null,
                        "externalOrderId.$": "$.UserCartInfo[1].CartInfo.ResponseBody.orderConfirmationId",
                        "fees": [],
                        "fraudSessionId": "4390a5d1-1940-4e34-b97b-875fa9b1c8ee",
                        "incomplete": false,
                        "inventoryAllocationId": "",
                        "lineItems": [
                            {
                                "appointmentDate": null,
                                "attributes": {},
                                "autoAdd": false,
                                "bundleComponents": null,
                                "currency": "USD",
                                "earnedRewards": {
                                    "currency": "USD",
                                    "reason": null,
                                    "value": "0"
                                },
                                "fulfillmentCenter": null,
                                "isAutoRefill": null,
                                "lineNumber": 1,
                                "oneTime": true,
                                "personalizationAttributeMap": {},
                                "product": {
                                    "attributes": [],
                                    "bundleTitle": "",
                                    "catalogEntryId": "149519",
                                    "description": "***",
                                    "name": "Instinct Raw Boost Mixers Lamb Recipe Grain-Free Freeze-Dried Dog Food Topper, 5.5-oz bag",
                                    "partNumber": "122371"
                                },
                                "promiseDeliveryDate": null,
                                "quantity": 1,
                                "salesTax": {
                                    "currency": "USD",
                                    "value": "0.81"
                                },
                                "salesTaxCategories": {
                                    "STATE SALES TAX": {
                                        "currency": "USD",
                                        "value": "0.81"
                                    }
                                },
                                "shippingAddress": {
                                    "addressLine1": "*** M**** T**",
                                    "addressLine2": "n****",
                                    "city": "BROOKLINE",
                                    "confidenceLevel": null,
                                    "country": "US",
                                    "firstName": "n****",
                                    "addressType": "RESIDENTIAL",
                                    "addressSubType": null,
                                    "fullName": "**** S* ",
                                    "kyriosId": "217789166",
                                    "lastName": "n****",
                                    "latitude": null,
                                    "longitude": null,
                                    "nickname": null,
                                    "phone": "**********",
                                    "postcode": "**********",
                                    "state": "MA",
                                    "verificationStatus": "VERIFIED"
                                },
                                "shippingCharge": {
                                    "currency": "USD",
                                    "value": "4.95"
                                },
                                "shippingModeCode": "FLATRATE",
                                "shippingTax": {
                                    "currency": "USD",
                                    "value": "0"
                                },
                                "shippingTaxCategories": {},
                                "totalProduct": {
                                    "currency": "USD",
                                    "value": "12.99"
                                },
                                "unitPrice": {
                                    "currency": "USD",
                                    "value": "12.99"
                                },
                                "wishListId": null,
                                "subscriptionId": null
                            }
                        ],
                        "memberId": "256676018",
                        "orgId": null,
                        "overrideIfOrderExists": null,
                        "paymentGateway": false,
                        "paymentInstructions": [
                            {
                                "accountNumber": "*******************",
                                "amount": {
                                    "currency": "USD",
                                    "value": "18.75"
                                },
                                "billingAddress": {
                                    "addressLine1": "*** M**** T**",
                                    "addressLine2": " n****",
                                    "city": "BROOKLINE",
                                    "confidenceLevel": null,
                                    "country": "USA",
                                    "firstName": "n****",
                                    "addressType": null,
                                    "addressSubType": null,
                                    "fullName": "n****",
                                    "kyriosId": null,
                                    "lastName": "n****",
                                    "latitude": null,
                                    "longitude": null,
                                    "nickname": null,
                                    "phone": "n****",
                                    "postcode": "**********",
                                    "state": "MA",
                                    "verificationStatus": "UNKNOWN"
                                },
                                "expirationMonth": "1",
                                "expirationYear": "2033",
                                "legacyId": null,
                                "payRefId": "7a933143-e265-40a5-8a5b-694314e77da3",
                                "paymentMethodType": "AMEX",
                                "walletId": "0d1d26fb-b9bd-4fc9-b5bd-d5ba13a3471e",
                                "walletPayMethodId": "5b9ce7e6-6756-44c2-83b5-16ae94411602"
                            }
                        ],
                        "promiseDeliveryDate": null,
                        "remoteIp": "192.88.179.15",
                        "replacesOrderId": null,
                        "shippingAddress": {
                            "addressLine1": "*** M**** T**",
                            "addressLine2": "n****",
                            "city": "BROOKLINE",
                            "confidenceLevel": null,
                            "country": "US",
                            "firstName": "n****",
                            "addressType": "RESIDENTIAL",
                            "addressSubType": null,
                            "fullName": "**** S* ",
                            "kyriosId": "217789166",
                            "lastName": "n****",
                            "latitude": null,
                            "longitude": null,
                            "nickname": null,
                            "phone": "**********",
                            "postcode": "**********",
                            "state": "MA",
                            "verificationStatus": "VERIFIED"
                        },
                        "siteId": null,
                        "skipOms": false,
                        "sourceId": null,
                        "status": null,
                        "subSiteId": null,
                        "submitter": "CUSTOMER",
                        "submitterId": "256676018",
                        "subscriptionInfos": null,
                        "timePlaced": "2025-07-16T13:33:12.939Z",
                        "timeUpdated": null,
                        "total": {
                            "currency": "USD",
                            "value": "18.75"
                        }
                    }
                }
            },
            "Next": "CompleteOrder",
            "ResultSelector": {
                "ResponseBody.$": "$.Output.ResponseBody"
            },
            "ResultPath": "$.CreateOrderResult"
        },
        "CompleteOrder": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud",
                    "urlSuffix": "/eks/app/cart-b/api/v1/cart/status",
                    "connectionArn.$": "$.connectionArn",
                    "operation": "PATCH",
                    "headers": {
                        "account.$": "$.userId"
                    },
                    "queryParameters": {
                        "status.$": "$.UserCartInfo[1].CartInfo.ResponseBody.status"
                    },
                    "RequestBody": {}
                }
            },
            "End": true
        }
    },
    "QueryLanguage": "JSONPath"
}