src/checkout-sm/get-info-sm.asl.json
{
    "Comment": "Reusable HTTP helper for checkout workflow - handles GET, POST, and DELETE operations",
    "StartAt": "CheckMethod",
    "States": {
        "CheckMethod": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.operation",
                    "StringEquals": "GET",
                    "Next": "InvokeOperationNoBody"
                },
                {
                    "Variable": "$.operation",
                    "StringEquals": "DELETE",
                    "Next": "InvokeOperationNoBody"
                },
                {
                    "Variable": "$.operation",
                    "StringEquals": "POST",
                    "Next": "InvokeOperationWithBody"
                }
            ],
            "Default": "InvokeOperationWithBody"
        },
        "InvokeOperationNoBody": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint.$": "States.Format('{}{}', $.url, $.urlSuffix)",
                "Method.$": "$.operation",
                "Authentication": {
                    "ConnectionArn.$": "$.connectionArn"
                },
                "Headers.$": "$.headers"
            },
            "End": true
        },
        "InvokeOperationWithBody": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint.$": "States.Format('{}{}', $.url, $.urlSuffix)",
                "Method.$": "$.operation",
                "Authentication": {
                    "ConnectionArn.$": "$.connectionArn"
                },
                "Headers.$": "$.headers",
                "RequestBody.$": "$.RequestBody"
            },
            "End": true
        }
    }
}