src/checkout-SM.asl.json
{
    "Comment": "A description of my state machine",
    "StartAt": "FetchUserRx",
    "States": {
        "FetchUserRx": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "StartExecutionKyriosUser",
                    "States": {
                        "StartExecutionKyriosUser": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url.$": "$.kyriosUserUrlField",
                                    "headers.$": "$.inputKyriosHeadersField"
                                }
                            },
                            "ResultPath": "$.kyriosUserInfo",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "StartExecutionGetCart",
                    "States": {
                        "StartExecutionGetCart": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::states:startExecution.sync:2",
                            "Parameters": {
                                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                                "Input": {
                                    "url.$": "$.inputGetCartUrlField",
                                    "headers.$": "$.inputGetCartHeadersField"
                                }
                            },
                            "ResultPath": "$.getCartInfo",
                            "End": true
                        }
                    }
                }
            ],
            "ResultPath": "$.getUserCartInfo",
            "Next": "CreateSavePaymentInst"
        },
        "CreateSavePaymentInst": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint": "https://payments-b-use1-eks-hydration.opta.qat.aws.chewy.cloud/api/v1/v1/checkout/{cartId}/payment-instructions",
                "Method": "PUT",
                "Authentication": {
                    "ConnectionArn.$": "$.inputConnectionArn"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "BackoffRate": 2,
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "JitterStrategy": "FULL"
                }
            ],
            "ResultPath": "$.paymentInstructions",
            "Next": "RefreshCart"
        },
        "RefreshCart": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {},
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "BackoffRate": 2,
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "JitterStrategy": "FULL"
                }
            ],
            "Next": "CreateOrderId"
        },
        "CreateOrderId": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:appsync:graphql",
            "Parameters": {
                "apiId": "YOUR_APP_SYNC_API_ID",
                "query": "query_os_newOrderExternalId.graphql",
                "variables": {}
            },
            "ResultPath": "$.orderId",
            "Next": "Parallel"
        },
        "Parallel": {
            "Type": "Parallel",
            "Next": "FraudInventory",
            "Branches": [
                {
                    "StartAt": "Promo",
                    "States": {
                        "Promo": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {},
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Loyalty",
                    "States": {
                        "Loyalty": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {},
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "FeesTaxes",
                    "States": {
                        "FeesTaxes": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {},
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                }
            ]
        },
        "FraudInventory": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "FraudScreen",
                    "States": {
                        "FraudScreen": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": "https://preauth-v2.use1.corp.qat.aws.chewy.cloud/PreAuthScreen",
                                "Method": "POST",
                                "Authentication": {
                                    "ConnectionArn.$": "$.inputConnectionArn"
                                }
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "ResultPath": "$.fraudResult",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Inventory",
                    "States": {
                        "Inventory": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::http:invoke",
                            "Parameters": {
                                "ApiEndpoint": " https://inventory-svc.use1.scff.qat.aws.chewy.cloud/v1/inventory/allocations",
                                "Method": "POST",
                                "InvocationConfig": {
                                    "ConnectionArn.$": "$.inputConnectionArn"
                                }
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "States.ALL"
                                    ],
                                    "BackoffRate": 2,
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "ResultPath": "$.allocateInventoryResult",
                            "End": true
                        }
                    }
                }
            ],
            "Next": "Payment"
        },
        "Payment": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint": "https://payments-b-use1-eks-hydration.opta.qat.aws.chewy.cloud/api/v1/payment/approve",
                "Method": "POST",
                "InvocationConfig": {
                    "ConnectionArn.$": "$.inputConnectionArn"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "BackoffRate": 2,
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "JitterStrategy": "FULL"
                }
            ],
            "ResultPath": "$.submitPaymentResult",
            "Next": "CreateAndQueueOrder"
        },
        "CreateAndQueueOrder": {
            "Type": "Task",
            "Resource": "arn:aws:states:::http:invoke",
            "Parameters": {
                "ApiEndpoint": "https://order-api-us-east-1.opta.qat.aws.chewy.cloud/api/v1/orders",
                "Method": "POST",
                "InvocationConfig": {
                    "ConnectionArn.$": "$.inputConnectionArn"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "BackoffRate": 2,
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "JitterStrategy": "FULL"
                }
            ],
            "ResultPath": "$.createOrderResult",
            "End": true
        }
    },
    "QueryLanguage": "JSONPath"
}