src/hello-world-SM.asl.json
{
    "Comment": "A Hello World example demonstrating various state types of the Amazon States Language",
    "StartAt": "Hello World example?",
    "States": {
        "Hello World example?": {
            "Comment": "A Choice state adds branching logic to a state machine. Choice rules can implement 16 different comparison operators, and can be combined using And, Or, and Not",
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.IsHelloWorldExample",
                    "BooleanEquals": true,
                    "Next": "Yes"
                },
                {
                    "Variable": "$.IsHelloWorldExample",
                    "BooleanEquals": false,
                    "Next": "DetectSentiment"
                }
            ],
            "Default": "DetectSentiment"
        },
        "DetectSentiment": {
            "Type": "Task",
            "Parameters": {
                "LanguageCode": "en",
                "Text": "{% $states.context.Execution.Input.feedback_comment %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:comprehend:detectSentiment",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Yes": {
            "Type": "Pass",
            "Next": "Parallel State"
        },
        "Parallel State": {
            "Comment": "A Parallel state can be used to create parallel branches of execution in your state machine.",
            "Type": "Parallel",
            "Next": "Hello World",
            "Branches": [
                {
                    "StartAt": "Hello",
                    "States": {
                        "Hello": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "World",
                    "States": {
                        "World": {
                            "Type": "Pass",
                            "End": true
                        }
                    }
                }
            ]
        },
        "Hello World": {
            "Type": "Pass",
            "Next": "GetUserInfoTest",
            "Result": {
                "reachedLastTask": "yes",
                "url": "https://dev-use1-apt-shared-main.plat.dev.aws.chewy.cloud/eks/app/kyrios-b/v1/users/ ",
                "urlSuffix": "256676018",
                "connectionArn": "arn:aws:events:us-east-1:243249644484:connection/aschinkmann-connection/51f0ec0d-4e3f-4611-ac8d-4c44c4244809"
            }
        },
        "GetUserInfoTest": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:us-east-1:243249644484:stateMachine:get-info-statemachine",
                "Input": {
                    "url.$": "$.url",
                    "urlSuffix.$": "$.urlSuffix",
                    "connectionArn.$": "$.connectionArn"
                }
            },
            "End": true
        }
    }
}